<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="SHOP++ Team">
    <meta name="copyright" content="SHOP++">
    <title>权限配置 - 云琰</title>
    <link href="/favicon.ico" rel="icon">
    <link href="__ADMIN__/css/bootstrap.css" rel="stylesheet">
    <link href="__ADMIN__/css/iconfont.css" rel="stylesheet">
    <link href="__ADMIN__/css/font-awesome.css" rel="stylesheet">
    <link href="__ADMIN__/css/bootstrap-select.css" rel="stylesheet">
    <link href="__ADMIN__/css/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="__ADMIN__/css/base.css" rel="stylesheet">
    <link href="__ADMIN__/css/base_3.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/plus/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/plus/webuploader/demo.css">
    <!--[if lt IE 9]>
    <script src="__ADMIN__/js/html5shiv.js"></script>
    <script src="__ADMIN__/js/respond.js"></script>
    <![endif]-->
    <script src="__ADMIN__/js/jquery.js"></script>
    <script src="__ADMIN__/js/bootstrap.js"></script>
    <script src="__ADMIN__/js/bootstrap-growl.js"></script>
    <script src="__ADMIN__/js/bootstrap-select.js"></script>
    <script src="__ADMIN__/js/jquery.nicescroll.js"></script>
    <script src="__ADMIN__/js/jquery.validate.js"></script>
    <script src="__ADMIN__/js/jquery.validate.additional.js"></script>
    <script src="__ADMIN__/js/jquery.form.js"></script>
    <script src="__ADMIN__/js/jquery.cookie.js"></script>
    <script src="__ADMIN__/js/underscore.js"></script>
    <script src="__ADMIN__/js/url.js"></script>
    <script src="__ADMIN__/js/velocity.js"></script>
    <script src="__ADMIN__/js/velocity.ui.js"></script>
    <script src="__ADMIN__/js/base.js"></script>
    <script src="__ADMIN__/js/base_1.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="__ADMIN__/plus/webuploader/webuploader.js"></script>

    <script src="__ADMIN__/plus/ueditor/ueditor.config.js"></script>
    <script src="__ADMIN__/plus/ueditor/ueditor.all.min.js"></script>
    <script src="__ADMIN__/plus/ueditor/lang/zh-cn/zh-cn.js"></script>
    <style type="text/css">

    </style>
    <script>
        var url = "{:url('Article/upload')}";
        var swf = "__ADMIN__/plus/webuploader/";

        $().ready(function() {

            var $businessAttributeForm = $("#businessAttributeForm");
            var $type = $("#type");
            var $pattern = $("#pattern");
            var $addOption = $("#addOption");
            var $option = $("#option");

            // 类型
            $type.change(function() {
                var value = $(this).val();
                var currentOptions = getCurrentOptions().length > 0 ? getCurrentOptions() : [""];

                buildOption(currentOptions);
                if (value == "SELECT" || value == "CHECKBOX") {
                    if ($pattern.is(":visible")) {
                        $pattern.prop("disabled", true).closest(".form-group").velocity("slideUp");
                        $option.velocity("slideDown");
                        $addOption.closest(".form-group").velocity("slideDown");
                    }
                } else {
                    if ($pattern.is(":hidden")) {
                        $pattern.prop("disabled", false).closest(".form-group").velocity("slideDown");
                        $option.velocity("slideUp");
                        $addOption.closest(".form-group").velocity("slideUp");
                    }
                }
            });

            // 生成可选项
            function buildOption(options) {
                $option.html(optionTemplate({
                    options: options
                }));
            }

            // 获取当前可选项
            function getCurrentOptions() {
                return $option.find("input.options").map(function() {
                    return $(this).val();
                }).get();
            }

            // 增加可选项
            $addOption.click(function() {
                var options = getCurrentOptions();

                options.push("");
                buildOption(options);
            });

            // 移除可选项
            $option.on("click", "button.remove", function() {
                var $element = $(this);

                $element.closest(".form-group").velocity("slideUp", {
                    complete: function() {
                        $(this).remove();

                        buildOption(getCurrentOptions());
                    }
                });
            });

            $.validator.addClassRules({
                options: {
                    required: true
                }
            });

            // 表单验证
            $businessAttributeForm.validate({
                rules: {
                    name: "required",
                    pattern: {
                        remote: {
                            url: "/admin/business_attribute/check_pattern",
                            cache: false
                        }
                    },
                    order: "digits"
                },
                messages: {
                    pattern: {
                        remote: "语法错误"
                    }
                }
            });

        });
    </script>
    <script src="__ADMIN__/plus/webuploader/demo.js"></script>
</head>
<body class="admin">
{include file="common/header"}
<script>
    $().ready(function() {

        var $document = $(document);
        var $mainHeaderLogout = $("#mainHeaderLogout");

        // 用户注销
        $mainHeaderLogout.click(function() {
            $document.trigger("loggedOut.shopxx.user", $.getCurrentUser());
        });

    });
</script>
<script>
    $().ready(function() {

        var $window = $(window);
        var $body = $("body");
        var $mainSidebarCollapseToggle = $("[data-toggle='mainSidebarCollapse']");
        var $mainSidebar = $("#mainSidebar");
        var $searchForm = $("#mainSidebar .search form");
        var $searchValue = $("#mainSidebar .search input[name='searchValue']");
        var $panelCollapse = $("#mainSidebar .panel-collapse");

        // 主侧边栏折叠
        $mainSidebarCollapseToggle.click(function() {
            var niceScroll = $mainSidebar.getNiceScroll();
            var interval = setInterval(function() {
                niceScroll.resize();
            }, 10);

            if ($window.width() > 767) {
                $body.removeClass("main-sidebar-expanded").toggleClass("main-sidebar-mini");
            } else {
                $body.removeClass("main-sidebar-mini").toggleClass("main-sidebar-expanded");
            }

            $body.one("bsTransitionEnd", function() {
                niceScroll.resize();
                window.clearInterval(interval);
            }).emulateTransitionEnd(500);
        });

        // 主侧边栏滚动条
        $mainSidebar.niceScroll({
            cursorwidth: "4px",
            cursorcolor: "#ffffff",
            cursorborder: "0px",
            cursoropacitymax: 0.4
        });

        // 搜索
        $searchForm.submit(function() {
            if ($.trim($searchValue.val()) == "") {
                return false;
            }
        });

        // 面板折叠
        $panelCollapse.on("shown.bs.collapse hidden.bs.collapse", function() {
            $mainSidebar.getNiceScroll().resize();
        });

    });
</script>
{include file="common/left"}

<main>
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li>
                <a href="{:url('admin/admin')}">
                    <i class="iconfont icon-homefill"></i>
                    首页
                </a>
            </li>
            <li class="active">权限配置</li>
        </ol>
        <form id="form" class="ajax-form form-horizontal" action="" method="post" enctype="multipart/form-data">
            <input name="id" value="{$authGroup['id']}" type="hidden"/>
            <div class="panel panel-default">
                <div class="panel-heading">权限配置</div>
                <div class="panel-body">
                    <!---->
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-2 control-label item-required" for="name">用户组名称:</label>
                        <div class="col-xs-9 col-sm-4">
                            <input id="name" style="font-family: 'Arial Black'" value="{$authGroup['title']}" disabled name="title" class="form-control" type="text" maxlength="200">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="checkbox">
                                                <input type="checkbox" data-toggle="checkAll">
                                                <label>全选</label>
                                            </div>
                                        </th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {foreach name="data" id="data"}
                                        <tr>
                                            <td  style="width:150px">
                                                <div class="checkbox">
                                                    <input name="ids[]" id="{$data['id']}" class="inverted checkbox-parent" dataid="id-{$data['id']}" type="checkbox" value="{$data['id']}" <?php if(in_array($data['id'], $rules)){echo "checked='checked'";}?>>
                                                    <label> {$data['title']}：</label>
                                                </div>
                                            </td>
                                            <td>
                                                {foreach name="data['children']" id="data2"}
                                                   <span style="float: left;padding-top: 10px;margin-left: 20px">
                                                       <div class="checkbox">
                                                            <input name="ids[]" id="{$data2['id']}" class="inverted checkbox-parent checkbox-child" dataid="id-{$data['id']-{$data2['id']}" type="checkbox" value="{$data2['id']}" <?php if(in_array($data2['id'], $rules)){echo "checked='checked'";}?>>
                                                            <label>{$data2['title']}</label>
                                                        </div>
                                                       {if condition="$data2['children']"}
                                                           {foreach name="data2['children']" id="data3"}
                                                                <span style="padding-left: 15px;float: left">
                                                                     <div class="checkbox">
                                                                         <input name="ids[]" class="inverted checkbox-child" id="{$data3['id']}" dataid="id-{$data['id']-{$data2['id']-{$data3['id']}" type="checkbox" value="{$data3['id']}" <?php if(in_array($data3['id'], $rules)){echo "checked='checked'";}?>>
                                                                         <label>{$data3['title']}</label>
                                                                     </div>
                                                                </span>
                                                            {/foreach}
                                                       {/if}
                                                   </span>
                                                {/foreach}
                                            </td>
                                        </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-9 col-sm-10 col-xs-offset-3 col-sm-offset-2">
                                <!--<span class="btn btn-primary" id="tijiao" onclick="prot();" >确 定</span>-->
                                <button class="btn btn-primary" type="submit">确 定</button>
                                <button class="btn btn-default" type="button" data-action="back">返 回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>
<script src="__ADMIN__/js/tip.js"></script>
<script>
    function prot(){
        var form = new FormData(document.getElementById("form"));
        $.ajax({
            url:"{:url('admin/AuthGroup/add')}",
            type:"POST",
            data:form,
            processData:false,
            contentType:false,
            success:function(data){
                var t = JSON.parse(data);

                if (t.status == 1) {
                    tip(t.msg, t.status, t.url);
                } else {
                    tip(t.msg, t.status, '');
                }
            },
            error:function () {
                tip(data.msg, 2);
            }
        });
    }

    /* 权限配置 */
    $(function () {
        //动态选择框，上下级选中状态变化
        $('input.checkbox-parent').on('change', function () {
            var dataid = $(this).attr("dataid");
            $('input[dataid^=' + dataid + ']').prop('checked', $(this).is(':checked'));
        });
        $('input.checkbox-child').on('change', function () {
            var dataid = $(this).attr("dataid");
            dataid = dataid.substring(0, dataid.lastIndexOf("-"));
            var parent = $('input[dataid=' + dataid + ']');
            if ($(this).is(':checked')) {
                parent.prop('checked', true);
                //循环到顶级
                while (dataid.lastIndexOf("-") != 2) {
                    dataid = dataid.substring(0, dataid.lastIndexOf("-"));
                    parent = $('input[dataid=' + dataid + ']');
                    parent.prop('checked', true);
                }
            } else {
                //父级
                if ($('input[dataid^=' + dataid + '-]:checked').length == 0) {
                    parent.prop('checked', false);
                    //循环到顶级
                    while (dataid.lastIndexOf("-") != 2) {
                        dataid = dataid.substring(0, dataid.lastIndexOf("-"));
                        parent = $('input[dataid=' + dataid + ']');
                        if ($('input[dataid^=' + dataid + '-]:checked').length == 0) {
                            parent.prop('checked', false);
                        }
                    }
                }
            }
        });
    });
</script>
